@model SStorm.CTH.Web.Models.TreeViewNode
@using SStorm.CTH.Web.Resources

@inject LocService SharedLocalizer
@Html.SmartModal("modal-add-entity", modalType: ModalType.Danger, backdrop: "true")
<div class="card">
    <div class="card-body">
        <div class="modal-body">
            @if (Authorize(UserPermission.CancerType_EditCreateProtocol))
            {
                <a href="#modal-add-entity" data-toggle="modal"
                   data-url="@Url.Action("EditCreateChemotherapyProtocol", "CancerType", new { ID = 0 ,CancerTypeID = Model.CancerType.ID})"
                   data-modalsize="modal-lg"
                   data-modalcolor="hmodal-danger" class="btn btn-info">
                    <i class="fas fa-plus"></i> @SharedLocalizer.GetLocalizedHtmlString("NewChemotherapyProtocol")
                </a>
            }
            <div class="table-responsive">
                <table class="table m-0 table-colored-bordered table-bordered-info table-bordered table-hover" border="1">
                    <thead>
                        <tr>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ProtocolName")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("Days")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("Actions")</th>
                        </tr>
                    </thead>
                    @if (Model.CancerType.CTHChemotherapyProtocolCollection.Count == 0)
                    {
                        <tr>
                            <td colspan="5"><span>@SharedLocalizer.GetLocalizedHtmlString("NoData")</span></td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.CancerType.CTHChemotherapyProtocolCollection)
                        {
                            <tr>
                                <td>@item.ProtocolName</td>
                                <td>@item.Days</td>
                                <td>
                                    @if (Authorize(UserPermission.CancerType_EditCreateProtocol))
                                    {
                                        <a href="#modal-add-entity" data-toggle="modal"
                                           data-url="@Url.Action("EditCreateChemotherapyProtocol", "CancerType", new { ID = item.ID, CancerTypeID = Model.CancerType.ID })"
                                           data-modalsize="modal-lg"
                                           data-modalcolor="hmodal-danger" class="btn btn-info">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    }
                                    else
                                    {

                                    }
                                    @if (Authorize(UserPermission.CancerType_DeleteProtocol))
                                    {
                                        <a href="#modal-delete-entity" data-toggle="modal"
                                           data-url="@Url.Action("DeleteChemotherapyProtocol", "CancerType", new {ID = item.ID})"
                                           data-modalsize="modal-lg"
                                           data-modalcolor="hmodal-danger" class="btn btn-danger">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    }


                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>
    </div>
</div>


<script>
    function RefreshChemotherapyProtocol(response) {
        if (response[0] == 3) {
            $.ajax({
                url: '@Url.Action("GetChemotherapyProtocol", "CancerType")',
                type: 'GET',
                cache: false,
                data: { CancerTypeID: @Model.CancerType.ID}
            }).done(function (result) {
                $('#dvProtocol').html(result);
                swal("Done", "Data Deleted successfully", "success");
            });
        }
        else {
             swal("Error", "Data Not Deleted successfully", "error");
        }

    }
</script>

