@model SStorm.CTH.Web.Models.SymptomModel
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
<link href="~/assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" />

<form asp-action="EditCreateSideEffect">
    <div class="color-line"></div>

    <div class="modal-header">
        <h4 class="modal-title mt-0" id="custom-width-modalLabel">@SharedLocalizer.GetLocalizedHtmlString("EditCreate") @SharedLocalizer.GetLocalizedHtmlString("Symptom")</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="SymptomEntity.ID" value="@Model.SymptomEntity.ID" />
        <div class="form-group row">
            <div class="col-md-6">
                <label asp-for="SymptomEntity.Name" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
                <input asp-for="SymptomEntity.Name" class="form-control" required />
                <span asp-validation-for="SymptomEntity.Name" class="text-danger"></span>
            </div>
            @*<div class="form-group row">
                <div class="col-md-6">
                    <label asp-for="SymptomEntity.ArName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Name") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                    <input asp-for="SymptomEntity.ArName" class="form-control"  placeholder="@SharedLocalizer.GetLocalizedHtmlString("EnterName") @SharedLocalizer.GetLocalizedHtmlString("inArabic")" />
                    <span asp-validation-for="SymptomEntity.ArName" class="text-danger"></span>
                </div>
            </div>*@
            <div class="col-md-6">
                <label asp-for="SymptomEntity.Grade">@SharedLocalizer.GetLocalizedHtmlString("Grade")</label>
                <select asp-for="SymptomEntity.Grade" class="form-control"
                        required data-live-search="true">
                    <option required selected disabled value="0">
                        @SharedLocalizer.GetLocalizedHtmlString("Select") @SharedLocalizer.GetLocalizedHtmlString("Grade")
                    </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label asp-for="SymptomEntity.Description" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Description")</label>
                <textarea asp-for="SymptomEntity.Description" class="form-control" rows="2" required placeholder="@SharedLocalizer.GetLocalizedHtmlString("Description")"></textarea>
                <span asp-validation-for="SymptomEntity.Description" class="text-danger"></span>
            </div>
            @*<div class="form-group row">
                <div class="col-md-6">
                    <label asp-for="SymptomEntity.ArDescription" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Description") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                    <textarea asp-for="SymptomEntity.ArDescription" class="form-control" rows="4" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Description") @SharedLocalizer.GetLocalizedHtmlString("inArabic")"></textarea>
                    <span asp-validation-for="SymptomEntity.ArDescription" class="text-danger"></span>
                </div>
            </div>*@
            <div class="col-md-6">
                <label asp-for="SymptomEntity.AlertColor">@SharedLocalizer.GetLocalizedHtmlString("AlertColor")</label>
                <div class="col-md-12">
                    <input asp-for="SymptomEntity.AlertColor" type="color" value="@Model.SymptomEntity.AlertColor" required />
                </div>
                <span asp-validation-for="SymptomEntity.AlertColor" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label asp-for="SymptomEntity.Response" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Response")</label>
                <textarea asp-for="SymptomEntity.Response" class="form-control" rows="2" required placeholder="@SharedLocalizer.GetLocalizedHtmlString("Response")"></textarea>
                <span asp-validation-for="SymptomEntity.Response" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="SymptomEntity.Recommendation" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Recommendation")</label>
                <textarea asp-for="SymptomEntity.Recommendation" class="form-control" rows="2" required placeholder="@SharedLocalizer.GetLocalizedHtmlString("Recommendation")"></textarea>
                <span asp-validation-for="SymptomEntity.Recommendation" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
    </div>
</form>
<!--
<div class="DrugList">
    if (Model.SymptomEntity.ID > 0)
    {
        <partial name="_DrugCollection" model="@Model" />
    }
</div>
    -->
<script src="~/assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
<script>
    $(function () {
        $('#Switch').change(function () {
            $('#Recommendation').toggle($(this).is(':checked'));
        });

        if ($('#Switch').is(":checked")) {
            $('#Recommendation').css('display', 'block');
        }


    });

    $(document).ready(function () {
        $('select').selectpicker({
            dropupAuto: false
        });
    });
</script>









