@model SStorm.CTH.Web.Models.DrugModel
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("SymptomList");
    Layout = null;
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">@SharedLocalizer.GetLocalizedHtmlString("Doselimitingtoxicity")</a></li>
                        <li class="breadcrumb-item active">@SharedLocalizer.GetLocalizedHtmlString("DoseLimitingToxicityList")</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <button type="button" class="close" id="btnCloseDrag">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div id="DragDiv">
                        @if (Authorize(UserPermission.CancerType_AssignSymptomToDrug))
                        {
                            <a href="#modal-add-entity" data-toggle="modal"
                               data-url="@Url.Action("EditCreateSymptom", "Protocol", new { ID = 0, DrugID = Model.DrugEntity.ID, ProtocolID = Model.DrugEntity.ProtocolID})"
                               data-modalsize="modal-lg"
                               data-modalcolor="hmodal-danger" class="btn btn-info">
                                <i class="fas fa-plus"></i>@SharedLocalizer.GetLocalizedHtmlString("AddNew")
                            </a>
                        }

                        <br />
                        <div class="table-responsive">
                            <table class="table m-0 table-colored-bordered table-bordered-info table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Name")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Grade")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Description")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Recommendation")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Actions")</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.DrugEntity.CTHDrugSymptomCollection.Count() == 0)
                                    {
                                        <tr>
                                            <th scope="row" colspan="7">@SharedLocalizer.GetLocalizedHtmlString("NoData")</th>
                                        </tr>
                                    }
                                    
                                    @foreach (var item in Model.DrugEntity.CTHDrugSymptomCollection)
                                        {
                                            <tr>
                                                <td>@item.CTHSymptomItem.Name</td>
                                                <td>@item.CTHSymptomItem.Grade</td>
                                                <td>@item.CTHSymptomItem.Description</td>
                                                <td>@item.CTHSymptomItem.Recommendation</td>
                                                <td>
                                                    @if (Authorize(UserPermission.CancerType_AssignSymptomToDrug))
                                                    {
                                                        <a href="#modal-add-entity" data-toggle="modal"
                                                           data-url="@Url.Action("EditCreateSymptom", "Protocol", new { ID = item.ID, DrugID = Model.DrugEntity.ID, ProtocolID = Model.DrugEntity.ProtocolID})"
                                                           data-modalsize="modal-lg"
                                                           data-modalcolor="hmodal-danger" class="btn btn-info">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                    }
                                                    @if (Authorize(UserPermission.CancerType_DeleteSymptomFromDrug))
                                                    {
                                                        <a href="#modal-delete-entity" data-toggle="modal"
                                                           data-url="@Url.Action("DeleteSymptom", "Protocol", new { ID = item.ID})"
                                                           data-modalsize="modal-lg"
                                                           data-modalcolor="hmodal-danger" class="btn btn-danger">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
