@model SStorm.CTH.DAL.EntityClasses.CTHLabDetailEntity
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer

<div class="color-line"></div>
<div class="card">
    <div class="card-body">
        <form asp-action="EditCreateLabDetail">
            <div class="modal-header">
                <h4 class="modal-title mt-0" id="custom-width-modalLabel">@SharedLocalizer.GetLocalizedHtmlString("EditCreate") @SharedLocalizer.GetLocalizedHtmlString("LabDetails")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="ID" value="@Model.ID" />
                <input type="hidden" asp-for="LabID" value="@Model.LabID" />
                <div class="form-group row">
                    <div class="col-md-12">
                        <label asp-for="LabDetailsName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("LabDetailName")</label>
                        <input asp-for="LabDetailsName" class="form-control" required />
                        <span asp-validation-for="LabDetailsName" class="text-danger"></span>
                    </div>
                </div>
                @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="ArLabDetailsName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("LabDetailName") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <input asp-for="ArLabDetailsName" class="form-control" />
                <span asp-validation-for="ArLabDetailsName" class="text-danger"></span>
            </div>
        </div>
                *@
                <div class="form-group row">
                    <div class="col-md-12">
                        <label asp-for="Remarks" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Remarks")</label>
                        <textarea asp-for="Remarks" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="ArRemarks" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Remarks") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <textarea asp-for="ArRemarks" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ArRemarks" class="text-danger"></span>
            </div>
        </div>
                *@
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary text-white" id="CancelBtn" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</a>
                <button type="submit" class="btn btn-info waves-effect waves-light">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
            </div>
        </form>
    </div>
</div>


@*<div class="LabDetailCondition">
        @if (Authorize(UserPermission.CancerType_ViewProtocolLabs))
        {
            @if (Model.ID > 0)
            {
                <partial name="_LabDetailCondition" model="@Model" />
            }
        }

    </div>*@
