@model SStorm.CTH.DAL.EntityClasses.CTHDrugDayEntity
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
@{
    Layout = null;
}

<div class="color-line"></div>
<div class="card">
    <div class="card-body">
        <form asp-action="EditCreateDrugDay">
            <div class="modal-header">
                <h4 class="modal-title mt-0" id="custom-width-modalLabel">@SharedLocalizer.GetLocalizedHtmlString("EditCreate") @SharedLocalizer.GetLocalizedHtmlString("Lab")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="ID" value="@Model.ID" />
                <input type="hidden" asp-for="DrugID" value="@Model.DrugID" />


                <div class="form-group row">
                    <div class="col-md-12">
                        <label asp-for="Day" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("DrugDay")</label>
                        <input asp-for="Day" class="form-control" required />
                        <span asp-validation-for="Day" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
            </div>
        </form>
    </div>
</div>
