@model SStorm.CTH.DAL.EntityClasses.CTHLabEntity
@{
    Layout = null;
}
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
<div class="color-line"></div>
<div class="modal-header">
    <h4 class="modal-title mt-0" id="custom-width-modalLabel">@SharedLocalizer.GetLocalizedHtmlString("EditCreate") @SharedLocalizer.GetLocalizedHtmlString("IntialLab")</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<form asp-action="EditCreate">
    <div class="modal-body">
        <input type="hidden" asp-for="ID" value="@Model.ID" />

        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="LabName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("LabCategory")</label>
                <input class="form-control" asp-for="LabName" required>
                <span asp-validation-for="LabName" class="text-danger"></span>
            </div>
        </div>
        @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="ArLabName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("LabName") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <input class="form-control" asp-for="ArLabName">
                <span asp-validation-for="ArLabName" class="text-danger"></span>
            </div>
        </div>
        *@
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="Remarks" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Remarks")</label>
                <textarea asp-for="Remarks" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
        </div>
        @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="ArRemarks" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Remarks") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <textarea asp-for="ArRemarks" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ArRemarks" class="text-danger"></span>
            </div>
        </div>
        *@
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="IsMandatory" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("IsMandatory")</label>
                <input type="checkbox" asp-for="IsMandatory" />
                <span asp-validation-for="IsMandatory" class="text-danger"></span>
            </div>
        </div>

        <div class="modal-footer">
            <a class="btn btn-secondary text-white" id="CancelBtn" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</a>

            <button type="submit" class="btn btn-info waves-effect waves-light">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
        </div>
    </div>
</form>
