@model SStorm.CTH.DAL.EntityClasses.CTHSpecialCaseEntity
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
<form asp-action="EditCreate">
    <div class="color-line"></div>

    <div class="modal-header">
        <h4 class="modal-title mt-0" id="custom-width-modalLabel">@SharedLocalizer.GetLocalizedHtmlString("EditCreate") @SharedLocalizer.GetLocalizedHtmlString("SpecialCases")</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row" style="display:none;">
            <label asp-for="ID" class="col-md-3 col-form-label"></label>
            <div class="col-md-12">
                <input asp-for="ID" readonly="" class="form-control" />
            </div>

        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="CaseName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("CaseName")</label>
                <input asp-for="CaseName" class="form-control" required />
                <span asp-validation-for="CaseName" class="text-danger"></span>
            </div>
        </div>
        @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="ArCaseName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("CaseName") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <input asp-for="ArCaseName" class="form-control" />
                <span asp-validation-for="ArCaseName" class="text-danger"></span>
            </div>
        </div>
        *@
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="Remarks" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Remarks")</label>
                <textarea asp-for="Remarks" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
        </div>
        @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="ArRemarks" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Remarks") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <textarea asp-for="ArRemarks" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ArRemarks" class="text-danger"></span>
            </div>
        </div>
        *@
        <div class="form-group row">
            <div class="col-md-12">
                @if (Model.HasParts == true)
                {
                    <input type="checkbox" id="HasParts" name="HasParts" value="true" checked> <span>@SharedLocalizer.GetLocalizedHtmlString("HasPart")</span>
                }
                else
                {
                    <input type="checkbox" id="HasParts" name="HasParts" value="false"> <span>@SharedLocalizer.GetLocalizedHtmlString("HasPart")</span>
                }
                <span asp-validation-for="HasParts" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</button>

        <button type="submit" class="btn btn-info waves-effect waves-light">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
    </div>
</form>

<script>
    $("#HasParts").change(function () {
        var checkVal = $(this).val();
        //alert(checkVal);
        if (checkVal == "true") {
            $(this).val("false");
        }
        else {
            $(this).val("true");
        }
        var x = $(this).val();;
        //alert(x);
    });
</script>