@model SStorm.CTH.DAL.EntityClasses.CTHPatientEntity
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
<link href="~/assets/css/PagedList.css" rel="stylesheet" />
<link href="~/assets/css/footable.bootstrap.css" rel="stylesheet" />
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("PatientSheet");
}
@Html.SmartModal("modal-delete-entity", modalType: ModalType.Danger, backdrop: "true")
@Html.SmartModal("modal-add-entity", modalType: ModalType.Danger, backdrop: "true")
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">@SharedLocalizer.GetLocalizedHtmlString("PatientSheet")</a></li>
                        <li class="breadcrumb-item active">@SharedLocalizer.GetLocalizedHtmlString("PatientSheet")</li>
                    </ol>
                </div>
                <h4 class="page-title">@SharedLocalizer.GetLocalizedHtmlString("Index")</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("Labs")</label>
                        <table class="table m-0 table-colored-bordered table-bordered-info table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@SharedLocalizer.GetLocalizedHtmlString("LabName")</th>
                                    <th>@SharedLocalizer.GetLocalizedHtmlString("Lab Name") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</th>
                                    <th>@SharedLocalizer.GetLocalizedHtmlString("Remarks")</th>
                                    <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CTHPatientClinicalDataCollection.Count() > 0)
                                {
                                    @foreach (var item in Model.CTHPatientClinicalDataCollection.FirstOrDefault().CTHKimoSurveyCollection)
                                    {

                                        @foreach (var lab in item.CTHChemoLabCollection)
                                        {
                                            @if (lab.Date == DateTime.Today)
                                            {
                                                <tr>
                                                    <td>@lab.CTHLabDetailItem.LabDetailsName</td>
                                                    <td>@lab.CTHLabDetailItem.ArLabDetailsName</td>
                                                    <td>@lab.Date</td>
                                                    <td>@lab.CTHLabDetailItem.Remarks</td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <label>@SharedLocalizer.GetLocalizedHtmlString("PatientDrugs")</label>
                        <table class="table m-0 table-colored-bordered table-bordered-info table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@SharedLocalizer.GetLocalizedHtmlString("DrugName")</th>
                                    <th>@SharedLocalizer.GetLocalizedHtmlString("Dose")</th>
                                    <th>@SharedLocalizer.GetLocalizedHtmlString("Solution")</th>
                                    <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CTHPatientClinicalDataCollection.Count() > 0)
                                {
                                    @foreach (var item in Model.CTHPatientClinicalDataCollection.FirstOrDefault().CTHKimoSurveyCollection)
                                    {
                                        @foreach (var drug in item.CTHPatientDrugCollection)
                                        {
                                            @if (drug.Date == DateTime.Today)
                                            {
                                                <tr>
                                                    <td>@drug.CTHDrugItem.Name</td>
                                                    <td>@drug.CTHDrugItem.Dose</td>
                                                    <td>@drug.CTHDrugItem.SolutionAmount</td>
                                                    <td>@drug.Date</td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

