@model SStorm.CTH.Web.Models.LabModel
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
<form asp-action="AddNewLab" data-ajax-method="post" data-ajax="true"
      data-ajax-success="BindListLab">
    <div class="color-line"></div>

    <div class="modal-header">
        <h4 class="modal-title mt-0" id="custom-width-modalLabel">@SharedLocalizer.GetLocalizedHtmlString("EditCreate") @SharedLocalizer.GetLocalizedHtmlString("LabCategory")</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="LabEntity.ID" value="@Model.LabEntity.ID" />
        <input type="hidden" value="@Model.ChProID" name="ChProID" />
        <input type="hidden" value="@Model.CycleID" name="CycleID" />
        <input type="hidden" asp-for="LabEntity.ProtocolID" value="@Model.LabEntity.ProtocolID" />

        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="LabEntity.LabName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("LabCategory") @SharedLocalizer.GetLocalizedHtmlString("Name")</label>
                <input asp-for="LabEntity.LabName" class="form-control" required />
                <span asp-validation-for="LabEntity.LabName" class="text-danger"></span>
            </div>
        </div>
        @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="LabEntity.ArLabName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Lab") @SharedLocalizer.GetLocalizedHtmlString("Name") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <input asp-for="LabEntity.ArLabName" class="form-control" />
                <span asp-validation-for="LabEntity.ArLabName" class="text-danger"></span>
            </div>
        </div>
        *@
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="LabEntity.Remarks" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Remarks")</label>
                <textarea asp-for="LabEntity.Remarks" class="form-control" rows="4"></textarea>
                <span asp-validation-for="LabEntity.Remarks" class="text-danger"></span>
            </div>
        </div>
        @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="LabEntity.ArRemarks" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Remarks") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <textarea asp-for="LabEntity.ArRemarks" class="form-control" rows="4"></textarea>
                <span asp-validation-for="LabEntity.ArRemarks" class="text-danger"></span>
            </div>
        </div>
        *@
        @*<div class="form-group row">
            <div class="col-md-12">
                <label asp-for="LabEntity.ProtocolID" class="control-label">Protocols</label>
                <select asp-for="LabEntity.ProtocolID" class="form-control selectpicker"
                        data-live-search="true" asp-items="@Model.ProtocolList">
                    <option selected disabled value="">Select Protocol</option>
                </select>
                <span asp-validation-for="LabEntity.ProtocolID" class="text-danger"></span>
            </div>
        </div>*@

        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="LabEntity.IsMandatory" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("IsMandatory")</label>
                @if (Model.LabEntity.IsMandatory == true)
                {
                    <input type="checkbox" name="LabEntity_IsMandatory" id="LabEntity_IsMandatory" value="true" checked>
                }
                else
                {
                    <input type="checkbox" name="LabEntity_IsMandatory" id="LabEntity_IsMandatory" value="false">
                }
                <span asp-validation-for="LabEntity.IsMandatory" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</button>

        <button type="submit" class="btn btn-info waves-effect waves-light">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
    </div>
</form>
<script>
    $(document).ready(function () {

        $('select').selectpicker({
            dropupAuto: false
        });

        $("#LabEntity_IsMandatory").change(function () {
            var checkVal = $(this).val();
            if (checkVal == "true") {
                $(this).val("false");
            }
            else {
                $(this).val("true");
            }
        });

    });
    function BindListLab(res) {
        $('#modal-add-entity').modal('hide');
        $('#FinalLabList').empty();
        BindCombo('FinalLabList', res, false);
        $('#FinalLabList').selectpicker('refresh');
    }

</script>