@model SStorm.CTH.Web.Models.PatientClinicalDataModel
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var i = 1;
}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">


            @{
                if (Model.PatientClinicalData.ID != 0)
                {
                    @if (Authorize(UserPermission.Patient_PerformInvestigation))
                    {
                        <a href="#modal-add-entity" data-toggle="modal"
                           data-url="@Url.Action("EditCreatePathologyReport", "PatientClinicalData", new { ID = 0, PatientClinicalDataID = Model.PatientClinicalData.ID })"
                           data-modalsize="modal-lg"
                           data-modalcolor="hmodal-danger" class="btn btn-info">
                            <i class="fas fa-plus"></i>  @SharedLocalizer.GetLocalizedHtmlString("NewPathologyReport")
                        </a>
                    }
                    <br />
                }

                if (Model.PatientClinicalData.CTHPatientPathologyReportCollection.Count == 0)

                {
                    <span scope="row" colspan="7">@SharedLocalizer.GetLocalizedHtmlString("NoData")</span>
                }
                else
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table m-0 table-colored-bordered table-bordered-info table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("ReportTypeName")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("AttachmentResult")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PatientClinicalData.CTHPatientPathologyReportCollection)
                                        {
                                            <tr>
                                                <td>@item.CTHPathologyReportTypeItem.Name</td>
                                                <td>
                                                    @if (item.Report != "")
                                                    {
                                                        <a class="btn btn-dark" asp-controller="Home" asp-action="DownloadFile" asp-route-path="@item.Report"><i class="fa fa-download"></i> @SharedLocalizer.GetLocalizedHtmlString("Download")</a>
                                                    }
                                                </td>
                                                <td>
                                                    @if (Authorize(UserPermission.Patient_PerformInvestigation))
                                                    {
                                                        <a href="#modal-add-entity" data-toggle="modal"
                                                            data-url="@Url.Action("EditCreatePathologyReport", "PatientClinicalData", new { ID = @item.ID, PatientClinicalDataID = Model.PatientClinicalData.ID })"
                                                            data-modalsize="modal-lg"
                                                            data-modalcolor="hmodal-danger" class="btn btn-info">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                    }
                                                    @if (Authorize(UserPermission.Patient_DeleteInvestigation))
                                                    {
                                                        <a href="#modal-delete-entity" data-toggle="modal"
                                                            data-url="@Url.Action("DeletePathologyReport", "PatientClinicalData", new { ID = @item.ID })"
                                                            data-modalsize="modal-lg"
                                                            data-modalcolor="hmodal-danger" class="btn btn-danger">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                            i++;
                                        }<!--foreach-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }<!--else-->
            }<!--if-->

        </div>
    </div>
</div>

<script>
    function LoadPathologyReport(response) {
          if (response[0] == 3) {
            $.ajax({
             url: '@Url.Action("GETPathologyReportList", "PatientClinicalData")',
            type: 'GET',
            cache: false,
             data: { PatientClinicalDataID:@Model.PatientClinicalData.ID}
            }).done(function (result)
            {
                swal("Done", "Deleted Successfully", "success");
                $('#ShowPathologyReport').html(result);
            });
        }
         else {
                swal("Error", "Data Not Deleted successfully", "error");
         }
    }
</script>