@model SStorm.CTH.DAL.EntityClasses.CTHTumorGradeEntity
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
<form asp-action="AddNewTumorGrade" data-ajax-method="post" data-ajax="true"
      data-ajax-success="BindTumorGradeList">
    <div class="color-line"></div>

    <div class="modal-header">
        <h4 class="modal-title mt-0" id="custom-width-modalLabel">@SharedLocalizer.GetLocalizedHtmlString("EditCreate") @SharedLocalizer.GetLocalizedHtmlString("TumorGrade")</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="TumorGrade" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("TumorGrade")</label>
                <input asp-for="TumorGrade" class="form-control" required />
                <span asp-validation-for="TumorGrade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="Description" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Description")</label>
                <textarea asp-for="Description" class="form-control"rows="3" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</button>

        <button type="submit" class="btn btn-info waves-effect waves-light">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
    </div>
</form>
<script src="~/assets/ajax/Binding.js"></script>
<script>
    function BindTumorGradeList(response) {
        $('#modal-add-entity').modal('hide');
        $('#PatientClinicalData_TumorGradeID').empty();
        BindCombo('PatientClinicalData_TumorGradeID', response, false);
        $('#PatientClinicalData_TumorGradeID').selectpicker('refresh');
    }
</script>