@model SStorm.CTH.DAL.EntityClasses.CTHTreatmentTypeEntity
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
<form asp-action="AddNewTreatmentPlan" data-ajax-method="post" data-ajax="true"
      data-ajax-success="BindTreatmentPlanList">
    <div class="color-line"></div>

    <div class="modal-header">
        <h4 class="modal-title mt-0" id="custom-width-modalLabel">@SharedLocalizer.GetLocalizedHtmlString("EdiCreate") @SharedLocalizer.GetLocalizedHtmlString("TreatmentType")</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <input asp-for="ID" readonly="" class="form-control" hidden />
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="TreatmentType" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("TreatmentType")</label>
                <input asp-for="TreatmentType" class="form-control" required />
                <span asp-validation-for="TreatmentType" class="text-danger"></span>
            </div>
        </div>
        @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="ArTreatmentType" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("TreatmentType") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <input asp-for="ArTreatmentType" class="form-control" />
                <span asp-validation-for="ArTreatmentType" class="text-danger"></span>
            </div>
        </div>
        *@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</button>

        <button type="submit" class="btn btn-info waves-effect waves-light">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
    </div>
</form>
<script src="~/assets/ajax/Binding.js"></script>
<script>
    function BindTreatmentPlanList(response) {
        $('#modal-add-entity').modal('hide');
        $('#KimoSurveyEntity_TreatementTypeID').empty();
        BindCombo('KimoSurveyEntity_TreatementTypeID', response, false);
        $('#KimoSurveyEntity_TreatementTypeID').selectpicker('refresh');
    }
</script>
