@model SStorm.CTH.DAL.EntityClasses.CTHSurgeryTypeEntity
@using SStorm.CTH.Web.Resources
@inject LocService SharedLocalizer
<form asp-action="EditCreateSurgeryType" id="SurgeryTypeForm">
    <div class="color-line"></div>

    <div class="modal-header">
        <h4 class="modal-title mt-0" id="custom-width-modalLabel">@SharedLocalizer.GetLocalizedHtmlString("EditCreate") @SharedLocalizer.GetLocalizedHtmlString("SurgeryType") </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row" style="display:none;">
            <label asp-for="ID" class="col-md-3 col-form-label"></label>
            <div class="col-md-12">
                <input asp-for="ID" readonly="" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="SurgeryType" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("SurgeryType")</label>
                <input asp-for="SurgeryType" class="form-control" />
                <span asp-validation-for="SurgeryType" class="text-danger"></span>
            </div>
        </div>
        @*
        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="ArSurgeryType" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("SurgeryType") @SharedLocalizer.GetLocalizedHtmlString("inArabic")</label>
                <input asp-for="ArSurgeryType" class="form-control" />
                <span asp-validation-for="ArSurgeryType" class="text-danger"></span>
            </div>
        </div>
        *@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</button>

        <button type="submit" class="btn btn-info waves-effect waves-light">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
    </div>
</form>
<script src="~/assets/ajax/Binding.js"></script>
<script>
    $(document).ready(function () {
        $('#SurgeryTypeForm').submit(function (e) {
            e.preventDefault();
            var form = $('#SurgeryTypeForm')[0]; // Get form
            var data = new FormData(form); // Create an FormData object

            $.ajax({
                url: form.action,
                type: form.method,
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    $('#modal-add-entity').modal('hide');
                    BindCombo('PatientSurgery_SurgeryTypeId', data, false);
                    $('#PatientSurgery_SurgeryTypeId').selectpicker('refresh');

                },
                error: function (e) {
                    swal("Error", "Data Don't Saved successfully", "error");
                    console.log("ERROR : ", e);
                }
            });
        });
    });
</script>